/*
Theme Name: Pixeldom
Theme URI: http://www.themebounce.com/
Description: Slim & Beautiful
Author: ThemeBounce
Author URI: http://www.themebounce.com
Version: 1.3
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
em { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */

@font-face {
	font-family: 'GothamNarrow-Book';
	src: url('fonts/GothamNarrow-Book.eot');
	src: local('☺'), url('fonts/GothamNarrow-Book.woff') format('woff'), url('fonts/GothamNarrow-Book.ttf') format('truetype'), url('fonts/GothamNarrow-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamNarrow-Medium';
	src: url('fonts/GothamNarrow-Medium.eot');
	src: local('☺'), url('fonts/GothamNarrow-Medium.woff') format('woff'), url('fonts/GothamNarrow-Medium.ttf') format('truetype'), url('fonts/GothamNarrow-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamNarrow-Bold';
	src: url('fonts/GothamNarrow-Bold.eot');
	src: local('☺'), url('fonts/GothamNarrow-Bold.woff') format('woff'), url('fonts/GothamNarrow-Bold.ttf') format('truetype'), url('fonts/GothamNarrow-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	color:#333;
	background: #fff;
}

b, strong {
    font-family: GothamNarrow-Bold; source sans pro, georgia, helvetica neue;
    font-size: 18px;
    font-weight: normal;
}

p {
	font-size:17px;
	line-height: 1.5em;
	font-family: gothamnarrow-book, source sans pro, georgia, helvetica neue;
}

a {
	text-decoration:none;
	color:#67AD2B;
	font-family:GothamNarrow-Medium; source sans pro, georgia, helvetica neue;
}
a:hover {
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: gothamnarrow-medium, source sans pro, "Open Sans", sans-serif;
}


.container {
	width:1100px;
	margin:0 auto;
	
}
.container.sp_sidebar {
	overflow:hidden;
	border-top: 2px solid #eee;
}

#main {
	width:100%;
}

.container.sp_sidebar #main {
	width:755px;
	margin-right:0px;
	float:left;
	background:#fff;
	padding: 35px 25px 25px 0px;
}

#sidebar {
	width:300px;
	float:right;
	padding: 35px 0px 30px 20px;
}

/********************************/
/*** Navigation ***/
/********************************/

#navigation {
	background:#343c4c;
	height:58px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	margin: 0 auto;
}
	
.slicknav_menu {
	display:none;
}	

	#navigation .container {
		position:relative;
	}
	
.menu {
	float:left;
}

.menu li {
	display:inline-block;
	margin-right:38px;
	position:relative;
}

.menu li a {
	font-family: gothamnarrow-medium, sans-serif;
	font-size:16px;
	font-weight:300;
	color:#72808e;
	line-height:58px;
	text-transform:uppercase;
	display:inline-block;
	-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
}

		/*** DROPDOWN ***/
		
		.menu .sub-menu,
		.menu .children {
			background-color: #171717;
			display: none;
			padding: 0;
			position: absolute;
			margin-top:0;
			left: 0;
			z-index: 99999;
			
		}
		
		ul.menu ul a,
		.menu ul ul a {
			color: #999;
			margin: 0;
			font-size:20px;
			padding: 6px 10px 7px 10px;
			min-width: 160px;
			line-height:20px;
			-o-transition:.25s;
			-ms-transition:.25s;
			-moz-transition:.25s;
			-webkit-transition:.25s;
			transition:.25s;
			border-top:1px solid #333;
		}
		
		ul.menu ul li,
		.menu ul ul li {
			padding-right:0;
			margin-right:0;
		}

		ul.menu ul a:hover,
		.menu ul ul a:hover {
			color: #fff;
			background:#333;
		}

		ul.menu li:hover > ul,
		.menu ul li:hover > ul {
			display: block;
		}
		
		.menu .sub-menu ul,
		.menu .children ul {	
			left: 100%;
			top: 0;
			
		}
	
	/** Search **/
	#top-search {
		position:absolute;
		right:0px;
		top:0;
		width:58px;
		text-align:center;
		margin-left:16px;
		
	}
	#top-search a {
		height:58px;
		font-size:14px;
		line-height:58px;
		color:#526a7c;
		background:#343c4c;
		display:block;
		-webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
	}
	#top-search a:hover {
		color:#ccc;
		background:#474747;
	}
	.show-search {
		position:absolute;
		top:58px;
		right:-1px;
		display:none;
		z-index:10000;
	}
	.show-search #searchform input#s {
		width:190px;
		background:#FFF;
		webkit-box-shadow: 0 8px 6px -6px rgba(206,206,206,.2);
		-moz-box-shadow:  0 8px 6px -6px rgba(206,206,206,.2);
	    box-shadow:  0 8px 6px -6px rgba(206,206,206,.2);
	}
	.show-search #searchform input#s:focus {
		border:1px solid #d5d5d5;
	}
	
	/*** Top Social ***/
	#top-social {
		position:absolute;
		right:66px;
		top:0;
	}
	#top-social a i {
		font-size:15px;
		margin-left:10px;
		line-height:58px;
		color:#fff;
		-webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
	}

/********************************/
/*** Header ***/
/********************************/

#header {
	border-bottom: 0px solid #eee;
	text-align:center;
}

#logo {
	padding:40px 0;
}

/********************************/
/*** Grid Item ***/
/********************************/

.sp-grid li {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	margin-right: 0px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
}

	.container.sp_sidebar .sp-grid li {
		width:755px; 
		margin-right:0;	
}
	.container.sp_sidebar .sp-grid li:nth-child(3n+3) {
		margin-right:0px;
	}
	.container.sp_sidebar .sp-grid li:nth-child(2n+2) {
		margin-right:0;
	}

.sp-grid li:nth-child(3n+3) {
	margin-right:0;
}

.sp-grid li .item img {
	width:30%;
	height:auto;
	float: left;
	margin-bottom:10px;
	margin-right: 20px;
	border: 1px solid #eee;
}

.sp-grid li .item .cat {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family:"Open Sans";
	margin-bottom:7px;
	display:block;
}
.sp-grid li .item .cat a:hover {
	text-decoration:underline;
}
.sp-grid li .item h2 {
	margin-bottom:8px;
}
.sp-grid li .item h2 a {
	font-size: 20px;
	color: #343C4C;
	font-weight: 400;
	font-family: gothamnarrow-medium, source sans pro;
	line-height: 1.35em;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
}
.sp-grid li .item h2 a:hover {
	color:#67AD2B;
}
.sp-grid li .item p {
	margin-bottom:6px;
	font-size: 15px;
	line-height: 1.45em;
}
.sp-grid li .item .date {
	font-size: 13px;
	color: #999;
	letter-spacing: 1px;
	font-style: italic;
}


/********************************/
/*** Post ***/
/********************************/

.post {
	margin-bottom:30px;
}
.single .post {
	margin-bottom:30px;
}
	
	/*** Post Header ***/
	.post-header {
		margin-bottom:27px;
	}

	.post-header .cat a {
		display:inline-block;
		margin-bottom:12px;
		font-family:"Open Sans", sans-serif;
		font-size:11px;
		font-weight:700;
		letter-spacing:2px;
		text-transform:uppercase;
	}
	.post-header .cat a:hover {
		text-decoration:underline;
	}

	.post-header h1, .post-header h2 { margin-bottom:8px; }

	.post-header h1 a, .post-header h2 a, .post-header h1 {
		font-size: 40px;
		color:#000;
		font-family: georgia;
		font-weight:700;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
	}
	.post-header h2 a:hover {
		opacity:.50;
	}

	.post-header .date {
		font-family:"Open Sans", sans-serif;
		font-size:10px;
		font-style:italic;
		color:#939393;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	
	/*** Post image ***/
	.post-image {
		margin-bottom:18px;
		text-align:center;
	}
	.post-image img {
		max-width:100%;
		height:auto;
	}

	/*** Post Entry ***/
	.post-entry {
		
	}
	
	.post-entry img {
		max-width:100%;
		height:auto;
	}
	
	.post-entry p {
		margin-bottom:20px;
	}
	
	.post-entry a.more-link {
		font-weight:700;
	}
	.post-entry a:hover {
		text-decoration:underline;
	}
	
	.post-entry p, .post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6, .post-entry hr {
	margin-bottom:20px;
	}
	.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
		color:#000;
		font-weight:700;
	}
	.post-entry h1 {
		font-size:35px;
	}
	.post-entry h2 {
		font-size:30px;
	}
	.post-entry h3 {
		font-size:24px;
	}
	.post-entry h4 {
		font-size:20px;
	}
	.post-entry h5 {
		font-size:18px;
	}
	.post-entry h6 {
		font-size:16px;
	}
	.post-entry hr {
		border:0;
		height:0;
		border-bottom:1px solid #e5e5e5;
		clear:both;
	}
	.post-entry blockquote p {
		border-left:3px solid #cea525;
		color:#999;
		padding:0 18px;
		font-family:"Georgia";
		font-size:18px;
		line-height:28px;
		font-style:italic;
	}

	.post-entry ul, .post-entry ol {
		padding-left:45px;
		margin-bottom:20px;
	}
	.post-entry ul li {
		margin-bottom:12px;
		list-style:square;
	}
	.post-entry ol li {
		margin-bottom:12px;
		list-style:decimal;
	}


	.sticky.post .post-header { border:1px dashed #ddd; padding:20px 0; }
	.bypostauthor  {}

	.post-entry table { width:100%; margin-bottom:22px; border-collapse:collapse }
	.post-entry td, .post-entry th { padding: 12px; border-bottom: 1px #e5e5e5 solid; }
	.post-entry th { font-weight:bold; font-size:14px; background:#f5f5f5;}
	.post-entry tr:hover {
		background:#f9f9f9;
	}
	
	/*** Post Share ***/
	.post-share {
		text-align: center;
		margin-top:40px;
		margin-bottom:100px;
	}
	.post-share a {
		display:inline-block;
	}
	.share-box {
		width:50px; 
		height:50px; 
		display:inline-block;
		line-height:50px;
		border-radius: 150%;
		margin:0 2px;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		text-align: center;

		-webkit-transition:.3s;
	}
	.share-box i {
		font-size:17px;
	}
	
	.share-box:hover {
		background:#171717;
		border-color:#171717;
	}
	
	/*** Post author ***/
	.post-author {
		margin-bottom:80px;
		margin-top:70px;
		overflow:hidden;
	}	
	
	.author-img {
		float:left;
		margin-right:30px;
	}
	
	.author-img img {
		border-radius:50%;
	}
	
	.author-content h5 a {
		font-size:14px;
		letter-spacing:2px;
		text-transform:uppercase;
		margin-bottom:8px;
		color:#000;
		display:block;
	}
	
	.author-content p {
		margin-bottom:8px;
	}
	
	.author-content .author-social {
		font-size:14px;
		color:#bbb;
		margin-right:8px;
	}
	
	/*** Post related ***/
	.post-related {
		overflow:hidden;
		margin-bottom:80px;
		margin-top:70px;
	}
	
	.post-box { text-align:left; }
	.post-box-title {
		font-size:17px;
		letter-spacing:2px;
		text-transform:uppercase;
		margin-bottom:10px;
		font-weight:700;
		border-bottom:2px solid #444;
		padding-bottom:3px;
		display:inline-block;
		margin-left: 103px;
	}
	
	
.container.sp_sidebar .item-related {
    display: block;
    height: auto;
    margin: 20px 0;
    width: 420px;
}
		.container.sp_sidebar .item-related:last-child {
			margin-right:0;
		}
	
	.item-related img {
		margin-bottom:6px;
		width:100%;
		height:auto;
	}
	.item-related h3 a {
		font-size:16px;
		color:#000;
	}
	.item-related h3 a:hover {
		text-decoration:underline;
	}
	.item-related span.date {
		font-size:10px;
		font-family:"Open Sans", sans-serif;
		text-transform:uppercase;
		font-style:italic;
		color:#999;
	}
	
	/** Post tags ***/
	.post-tags {
		margin-top:30px;
		margin-bottom:50px;
	}
	.post-tags a {
		font-family:"Open Sans", sans-serif;
		font-size:11px;
		letter-spacing:2px;
		text-transform:uppercase;
		background:#f2f2f2;
		color:#666;
		padding:7px 10px 8px;
		margin-right:6px;
		border-radius:2px;
		margin-bottom:5px;
		display:inline-block;
	}
	.post-tags a:hover {
		background:#333;
		color:#fff;
		text-decoration:none;
	}
	
	/*** Post Pagination ***/
	.post-pagination {
		overflow:hidden;
	}
	.post-pagination .prev-post {
		float:left;
		width:470px;
	}
	.post-pagination .next-post {
		float:right;
		text-align:right;
		width:470px;
	}
	
		.container.sp_sidebar .post-pagination .prev-post, .container.sp_sidebar .post-pagination .next-post {
			width:325px;
		}
	
	.post-pagination span {
		color:#999;
		font-size:11px;
		font-style:italic;
		letter-spacing:1px;
	}
	.post-pagination .arrow {
		font-size:64px;
		color:#ddd;
		line-height:64px;
	}
	.post-pagination .prev-post .arrow {
		float:left;
		margin-right:18px;
	}
	.post-pagination .next-post .arrow {
		float:right;
		margin-left:18px;
	}
	.pagi-text {
		margin-top:11px;
	}
	.post-pagination h5 {
		text-transform:uppercase;
		font-size:14px;
	}
	.post-pagination a {
		color:#999;
	}
	.post-pagination a:hover > .arrow, .post-pagination a:hover > .pagi-text span, .post-pagination a:hover {
		color:#000;
	}
	
/********************************/
/*** Pagination ***/
/********************************/

.pagination {
	margin-top: 10px;
	margin-bottom:15px;
	overflow:hidden;
}

.pagination a {
	color:#000;
	font-family:"Open Sans", sans-serif;
	text-transform:uppercase;
	font-size:16px;
}
.pagination a:hover {
	text-decoration:none;
	color:#999;
}
.pagination .newer {
	float:left;
}
.pagination .older {
	float:right;
}

/********************************/
/*** Footer Copyright ***/
/********************************/

#footer-copyright {
	padding:18px 0;
	background:#343c4c;
	overflow:hidden;
	font-family:"Open Sans", sans-serif;
}

#footer-copyright p {
	font-size:11px;
	color:#888;
	float:left;
}

#footer-copyright .to-top {
	float:right;
	margin-top:6px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:1px;
	color:#777;
}
#footer-copyright .to-top i {
	font-size:14px;
	margin-left:3px;
}

#footer-copyright .to-top:hover {
	text-decoration:none;
}

/********************************/
/*** Widget Area ***/
/********************************/
	#sidebar .widget {
		width:300px;
		margin-right:0;
		float:none;
		margin-bottom:30px;
		font-size: 15px;
		line-height: 1.5em;
		font-family: source sans pro
	}

	#sidebar a {color:#333;}
	
	#sidebar img {
		max-width:300px;
		height:auto;
	}

.widget-title {
	font-size:18px;
	font-family: source sans pro;
	font-weight: 700;
	text-transform:uppercase;
	padding:6px 0px;
	color:#67ad2b;
	background: none !important;
	margin-bottom:10px;
	border-radius: 2px;
}

	#sidebar .widget-title {
		margin-bottom:10px;
	}

.widget a:hover {
	text-decoration:underline;
}

.widget ul li {
	margin-bottom:7px;
	padding-bottom:7px;
	border-bottom:1px dotted #ccc;
}
.widget ul li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}

	/*** Search widget ***/
	#searchform input#s {
		border: 1px solid #e5e5e5;
		background:#fff url(img/searchsubmit.png) no-repeat 96% 13px;
		padding:14px 14px;
		font-size:11px;
		color:#999;
		letter-spacing:1px;
	}
	
	#searchform #s:focus { outline:none; }

	/** searchbar for widget ***/
	.widget #searchform input#s { 
		width:300px;
	}
	
		#sidebar .widget #searchform input#s { 
			width:290px;
		}
	
	/*** About Widget ***/
	.about-widget img {
		max-width:292px;
		height:auto;
	}
	
	
	/*** Tagcloud widget ***/
	
	.widget .tagcloud a {
		font-family:"Open Sans", sans-serif;
		font-size:10px;
		letter-spacing:1px;
		text-transform:uppercase;
		background:#f2f2f2;
		color:#666;
		padding:6px 8px 7px;
		margin-right:5px;
		margin-bottom:8px;
		display:inline-block;
		border-radius:2px;
	}
	.widget .tagcloud a:hover {
		background:#333;
		color:#fff;
	}
	
	/*** Calender widget ***/
	#wp-calendar {width: 100%; }
	#wp-calendar caption { text-align: right; color: #777; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
	#wp-calendar thead { font-size: 12px;  }
	#wp-calendar thead th { padding-bottom: 10px; }
	#wp-calendar tbody { color: #aaa; }
	#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
	#wp-calendar tbody td a { font-weight:700; color:#222; }
	#wp-calendar tbody td:hover { background: #fff; }
	#wp-calendar tbody .pad { background: none; }
	#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
	#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
	#wp-calendar thead th { padding-bottom: 10px; text-align: center; }
	
	/** WIDGET ITEMS **/
	.widget ul.side-newsfeed li {
		list-style-type:none;
		margin-bottom:17px;
		padding-bottom:13px;
		margin-left:0;
	}
	.widget ul.side-newsfeed li:last-child {
		margin-bottom:0;
		padding-bottom:0;
	}
	.widget ul.side-newsfeed li .side-item {
		overflow:hidden;
	}
	.widget ul.side-newsfeed li .side-item .side-image {
		float:left;
		margin-right:14px;
	}
	
	.widget ul.side-newsfeed li .side-item .side-image img {
		width:86px;
		height:auto;
	}
	
	.widget ul.side-newsfeed li .side-item .side-item-text {
		overflow:hidden;
	}
	.widget ul.side-newsfeed li .side-item .side-item-text h4 a {
		margin-bottom:1px;
		color:#333;
		display:block;
		font-size:14px;
	}
	.widget ul.side-newsfeed li .side-item .side-item-text .side-item-meta {
		font-size:10px;
		letter-spacing:1px;
		color:#999;
		font-style:italic;
		font-family:"Open Sans";
	}
	
	/** Social Widget **/
	.widget-social {
		text-align:center;
	}

	.widget-social a:first-child {
		margin-left:0;
	}
	.widget-social a:last-child {
		margin-right:0;
	}

	.widget-social a i {
		height:28px;
		width:28px;
		text-align:center;
		line-height:28px;
		background:#666;
		color:#fff;
		border-radius:50%;
		margin:0 2px;
		font-size:14px;
	}

	.widget-social a:hover {
		text-decoration:none;
		color:#000;
	}
	.widget-social a:hover > i {
		background:#000;
	}
	
	
/*******************************
*** COMMENTS
*******************************/
	
.post-comments {
	margin-bottom:70px;
	margin-top:70px;
}

.comments {
	margin-bottom:40px;
}

.thecomment {
	border-bottom:1px dotted #eee;
	padding-bottom:34px;
	margin-bottom:34px;
}

.thecomment .author-img {
	float:left;
	margin-right:25px;
}
.thecomment .author-img img {
	border-radius:50%;
}
.thecomment .comment-text {
	overflow:hidden;
}
.thecomment .comment-text span.author, .thecomment .comment-text span.author a {
	display:block;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:6px;
	color:#333;
	font-family:"Open Sans";
}
.thecomment .comment-text span.author a:hover {
	text-decoration:underline;
}

.thecomment .comment-text span.date {
	font-size:14px;
	color:#999;
	font-style:italic;
	display:block;
	margin-bottom:10px;
}

.thecomment .comment-text em {
	font-size:13px;
	margin-bottom:-14px;
	display:block;
	color:orange;
	letter-spacing:1px;
}
.thecomment .comment-text em i {
	font-size:14px;
	color:#f3bd00;
}

.post-comments span.reply a {
	float:right;
	font-size:11px;
	background-color:#aaa;
	color:#FFF;
	padding:3px 6px 5px 6px;
	border-radius:2px;
	margin-left:7px;
	font-family:"Lato";
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.post-comments span.reply a.comment-edit-link {
	background:#c5c5c5;
}
.post-comments span.reply a:hover {
	opacity:.8;
}

ul.children { margin: 0 0 0 55px; }
ul.children li.thecomment { margin:0 0 8px 0; }

/** Reply **/
#respond {
	margin-bottom:20px;
	overflow:hidden;
}

#respond  h3 {
	font-size:14px;
	color:#999;
	font-weight:400;
	margin-bottom:30px;
	font-family:"Lato";
	letter-spacing:2px;
	text-transform:uppercase;
}

#respond h3 a {
	color:#000;
	display:inline-block;
}

#respond h3 small a {
	text-transform:uppercase;
	font-size:11px;
	background:#333;
	color:#FFF;
	padding:4px 6px 5px;
	border-radius:3px;
	margin-left:7px;
	letter-spacing:1px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
#respond h3 small a:hover {
	opacity:.8;
}

#respond label {
	color:#888;
	width:80px;
	font-size:14px;
	display:inline-block;
	font-weight:300;
}
#respond input {
	padding:8px 10px;
	border:1px solid #DDD;
	margin-right:10px;
	border-radius: 3px;
	color:#999;
	margin-bottom:15px;
	font-size:11px;
	width:250px;
	font-family:"Georgia";
}
#respond input:focus {outline:none;}
#respond .comment-form-url {
	margin-bottom:10px;
}
#respond textarea {
	padding:14px;
	border:1px solid #DDD;
	border-radius: 3px;
	width:95%;
	height:120px;
	font-size:13px;
	color:#777;
	margin-bottom:14px;
	line-height:20px;
	font-family:"Georgia";
}
#respond textarea:focus {outline:none;}

#respond #submit {
	font-family:"Lato";
	text-transform:uppercase;
	letter-spacing:2px;
	background:#eee;
	border-radius:0;
	font-size:11px;
	color:#666;
	padding:12px 19px 14px;
	margin-top:6px;
	display:inline-block;
	border:none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	cursor:pointer;
	border-radius:30px;
	width:auto;
}

#respond #submit:hover {
	background:#333;
	color:#FFF;
}

/********************************/
/*** Archive ***/
/********************************/

.archive-box {
	background: none !important;
	padding:22px 0 24px;
	text-align:center;
	margin-bottom:25px;
	margin-top: 0px;
	border-bottom: none;
}
.archive-box span {
	font-size:14px;
	font-style:italic;
	letter-spacing:1px;
	color:#555;
}
.archive-box h1 {
	font-size:26px;
	letter-spacing:4px;
	color:#777;
	text-transform:uppercase;
}

.nothing {
	margin-bottom:90px;
	text-align:center;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
	font-family:"Open Sans";
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*** Custom WordPress gallery style ***/
.gallery .gallery-caption{  
    font-size:12px;
	color:#888;
	font-family:"Open Sans";
}  
  
.gallery .gallery-icon img{  
    border-radius:2px;  
    border:1px solid #eee !important;  
	padding:7px;
}  
.gallery .gallery-icon img:hover {
	border:1px solid #ccc !important;  
}

/*** Contact Form 7 ***/
/*********************************************************/
.wpcf7 input {
	width:266px;
}
div.wpcf7 {
	overflow:hidden;
	margin-top:40px;
}
.wpcf7 p.sp_input {
	float:left;
	margin-right:19px;
}
.wpcf7 p.sp_message {
	clear:both;
}

.wpcf7 input, .wpcf7 textarea {
	padding:8px;
	border:1px solid #DDD;
	margin-right:10px;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	color:#777;
	font-size:12px;
	margin-top:6px;
	margin-bottom:6px;
}
.wpcf7 textarea {
	width:95%;
}
.wpcf7 .wpcf7-submit {
	background:#171717;
	-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius:20px;
	padding:12px 24px;
	color:#FFF;
	letter-spacing:3px;
	font-size:11px;
	text-transform:uppercase;
	cursor:pointer;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	display:block;
	border:none;
	width:auto;
}
.wpcf7 .wpcf7-submit:hover {
	background:#777;
}


/*** 404 ***/
.error-404 {
	margin-bottom:105px;
	text-align:center;
}

.error-404 h1 {
	font-size:190px;
	font-weight:700;
	margin-bottom:-25px;
}
.error-404 p {
	color:#999;
	font-size:18px;
	font-style:italic;
}
.before-post-ad, .after-post-ad {
	float: none;
	clear: both;
}

.before-post-ad {
	margin:0px 0;
}

.after-post-ad {
	margin: 0;
}

.post-entry .after-post-ad {
	margin: 0 0 50px 0;
}

.post-wrap-ad {
	float: right;
	margin: 10px 0 25px 25px;
}

.header-ad {margin: 25px 0 0px 0px; float: right;}

li.indexad {text-align: center; padding-bottom: 25px;}

/* Start Mobile Menu CTA */

.menu-mobile-cta {
    border-radius: 2px;
    color: #fff;
    font-family: gothamnarrow-medium,source sans pro;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    width: 267px;
    top: 12px;
}

/* End Mobile Menu CTA */

/* Fix mashare menu overlap */
.mashpv.mashtip {position: inherit !important;}
[class*=" mashicon-"], [class^="mashicon-"] {position: inherit !important}

/* Fix ad menu overlap */

.menu-mobile {
    position: relative;
    z-index: 1000;
}
#top-social {
	z-index: 10001;
}
#top-search { 
	z-index: 10001;
}
/* Start Footer Menu */

.footer-menu-wrapper {
    float: left;
    margin-left: 30px;
}
.footer-menu-wrapper li {
	margin-right: 10px;
}
.footer-menu-wrapper li a {
	font-size: 11px;
	font-family: gothamnarrow-book,source sans pro,georgia,helvetica neue;
	color:#888;
	text-transform: none;
	line-height: 26px;
	vertical-align: middle;
}

/* End Footer Menu */

/* Cleanup Share Buttons */

.mashsb-buttons .text {
    display: inline;
    font-family: Arial,sans-serif;
    font-weight: 500;
    line-height: 17px;
    vertical-align: middle;
}

/* Increase article desktop paragraph line height to 26 */

.single p {
    line-height: 26px;
}

/* Change FB share bar font */

#mashfbar-header .mashfbar-title {
    color: #666;
    font-family: GothamNarrow-Medium;
    font-size: 16px;
    font-weight: normal;
}

/********************************/
/*** START Sharebar Header Fixes ***/
/********************************/

/* Logo Text Size */


.mashbar-logo > a {
    color: #c5c5c5;
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: bold;
}

/* Fix Positioning */

#mashbar-header  .mashsb-box {
    float: right;
}
#mashbar-header  .mashsb-buttons {
    float: left;
}
#mashbar-header  .secondary-shares {
    float: left;
}

/* Change Share Button Colors */

#mashbar-header  .mashsb-buttons .mashicon-facebook {
	background-color:#c5c5c5;
}
#mashbar-header  .mashsb-buttons .mashicon-facebook:hover {
	background-color:#2d5f9a;
}
#mashbar-header  .mashsb-buttons .mashicon-twitter {
	background-color:#c5c5c5;
}
#mashbar-header  .mashsb-buttons .mashicon-twitter:hover {
	background-color:#00c3f3;
}

/* Increase button height */

#mashbar-header .mashsb-count {
	margin-top:10px;
}
.mashsb-buttons [class*=" mashicon-"] .icon::before, [class^="mashicon-"] .icon::before {
    line-height: 22px;
}
#mashbar-header  .mashsb-buttons a {
    height: 24px;
}
#mashbar-header  .mashsb-buttons a span {
	line-height: 24px;
}
#mashbar-header .onoffswitch, #mashbar-header .onoffswitch-inner::before, #mashbar-header .onoffswitch-inner::after {
    height: 40px;
    line-height: 40px;
    width: 40px;
}
#mashbar-header .onoffswitch2, #mashbar-header .onoffswitch2-inner::before, #mashbar-header .onoffswitch2-inner::after {
	height: 40px !important;
    line-height: 40px;
    width: 40px;
}

#mashfbar-header .mashfbar-close {
	float: right;
}

/********************************/
/*** END Sharebar Header Fixes ***/
/********************************/

/* Fix LikeAfterShare styling */

.lashare-holler h3 {
	font-family: georgia;
}
#likeaftershare iframe
{
transform: scale(1.5);
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5); 
-o-transform: scale(1.5); 
-moz-transform: scale(1.5); 
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
margin-left:-10%;
margin-top: -5%;
}
