


/*************************************************
*	10. Tablet									 *
*************************************************/
/* Changed from 960 max to 1130 to shrink container earlier to avoid content crashing into browser edges */

@media only screen and (min-width: 768px) and (max-width: 1130px) {

	
	.container {
		width:728px;
	}

	#navigation-wrapper {
		display:none;
	}
	
	#logo img {
		max-width:728px;
		height:auto;
	}
	
/*	.slicknav_menu {
		display:block;
	}
*/
	.post-image img {
		width:728px;
		height:auto;
	}
	
	
	.post-image.audio iframe {
		width:728px;
		height:auto;
	}
	
		.container.sp_sidebar .post-image.audio iframe {
			width:476px;
			height:auto;
		}
	
	.item-related {
		width:230px;
		margin-right:17px;
	}
	.post-pagination .prev-post {
		width:383px;
	}
	.post-pagination .next-post {
		width:383px;
	}
	
	
	
	.footer-widget-wrapper {
		width:230px;
		margin-right:17px;

	}
	
	.widget img {
		max-width:230px;
		height:auto;
	}
	
	.widget iframe {
		max-width:230px !important;
		height:auto;
	}
	
	#footer-logo img {
		max-width:728px;
		height:auto;
	}
	#footer-social a {
		margin:0 15px;
	}
	#footer-social a i {
		height:32px;
		width:32px;
		line-height:32px;
		margin-right:0;
		font-size:14px;
	}
	#footer-social a span {
		display:none;
	}
	
	.wpcf7 input {
		width:208px;
	}
	
	.sp-grid li {
		width:668px;
	}
	.sp-grid li:nth-child(3n+3) {
		margin-right:0px;
	}
	.sp-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
	.container.sp_sidebar #main {
		width:668px; padding: 30px;
		margin-right:0px; box-shadow: none !important;
	}
	.container.sp_sidebar #sidebar {
		width:668px; padding: 30px;
	}
	
		.container.sp_sidebar #sidebar .widget {
			width:668px;
		}
	
.post-wrap-ad {float: none;}
	
	.container.sp_sidebar .sp-grid li {
		width: 668px;
	}
	
	
	.container.sp_sidebar #respond textarea {
		width:93%;
	}
	#sidebar .widget #searchform input#s { 
			width:200px;
		}
.post-wrap-ad {
	float: right;
	margin: 10px 0 25px 25px;
}


}

/*************************************************
*	Mobile Portrait								 *
*************************************************/

@media only screen and (max-width: 767px) {
	
	.container {
		width:300px;
	}

body {background: #fff !important;}



li.indexad {display:none;}

#header {text-align: center;}
	
	/* #navigation-wrapper {
		display:none;
	} */
	
	.slicknav_menu {
		display:block;
	}
	
	#logo img {
		max-width:300px;
		height:auto;
	}
	
	.post-header h1 a, .post-header h2 a, .post-header h1 {
		font-size:22px;
		letter-spacing:2px;
	}
	
	.post-image img {
		width:300px;
		height:auto;
	}
	
	.post-image.audio iframe {
		width:300px;
		height:auto;
	}
	
	.item-related {
		width:300px;
		margin-bottom:30px;
	}
	
	.share-box {
		width:46px; 
		height:36px; 
		line-height:36px;
		margin:0 4px;
	}
	
	.post-pagination .prev-post {
		width:300px;
	}
	.post-pagination .next-post {
		width:300px;
	}
	
	#respond textarea {
		width:90%;
	}
	
	.thecomment .author-img {
		display:none;
	}
	
	.widget {
		width:300px;
		margin-right:32px;
		float:left;
		margin-bottom:35px;
	}
	
	#footer-logo img {
		max-width:300px;
		height:auto;
	}
	
	#footer-social a i {
		height:28px;
		width:28px;
		line-height:28px;
		margin-right:0;
		font-size:12px;
	}
	#footer-social a {
		margin:0 5px;
	}
	#footer-social a span{
		display:none;
	}
	
	.wpcf7 textarea {
		width:94%;
	}
	
	.sp-grid li {
		width:300px;
	}
	.sp-grid li:nth-child(3n+3) {
		margin-right:0;
	}
	.sp-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
	.container.sp_sidebar #main {
		width:300px;
		margin-right:0;
padding: 0; background:#fff; box-shadow: none !important;
	}
	.container.sp_sidebar #sidebar {
		width:300px;
padding: 0; background:#fff;
	}

.container.sp_sidebar .sp-grid li {
			width: 300px;
		}
		.container.sp_sidebar .sp-grid li:nth-child(3n+3) {
			margin-right:0px;
		}
		
		.container.sp_sidebar .sp-grid li:nth-child(2n+2) {
			margin-right:0;
		}
	
		.container.sp_sidebar #sidebar .widget {
			width:300px;
padding: 0;
		}
.sp-grid li .item img {margin: 0 0 15px; float: none; width: 300px;}

	.container.sp_sidebar .item-related {
		width:300px;
		margin-bottom:30px;
	}
	.header-ad {display: none;}

	/* Fix likeaftershare spacing on mobile */ 
	#lashare-holler {
	left:0 !important;
	right:0 !important;
	margin:10px !important;
}
/* fix related posts heading position */
.post-box {
    text-align: center;
    margin-left: 0;
}
	
}

/*************************************************
*	10. Landscape								 *
*************************************************/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.container {
		width:480px;
	}	

li.indexad {display:none;}

#header {text-align: center;}

	#logo img {
		max-width:480px;
		height:auto;
	}
	
	.post-image img {
		width:480px;
		height:auto;
	}
	
	.post-image.audio iframe {
		width:480px;
		height:auto;
	}
	
	.item-related {
		width:420px;
		margin-bottom:30px;
	}
	
	.share-box {
		width:55px; 
		height:42px; 
		line-height:42px;
		margin:0 10px;
	}
	
	.post-pagination .prev-post {
		width:420px;
	}
	.post-pagination .next-post {
		width:420px;
	}
	
	.widget {
		width:420px;
		margin-right:32px;
		float:left;
		margin-bottom:35px;
	}
	
	#footer-logo img {
		max-width:420px;
		height:auto;
	}
	
	#footer-social a {
		margin:0 12px;
	}
	
	#footer-social a i {
		height:32px;
		width:32px;
		line-height:32px;
		margin-right:0;
		font-size:14px;
	}
	
	.wpcf7 textarea {
		width:95%;
	}
	
	.sp-grid li {
		width: 420px;
	}
	.sp-grid li:nth-child(3n+3) {
		margin-right:0px;
	}
	.sp-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
		.container.sp_sidebar .sp-grid li {
			width: 420px;
		}
		.container.sp_sidebar .sp-grid li:nth-child(3n+3) {
			margin-right:0px;
		}
		
		.container.sp_sidebar .sp-grid li:nth-child(2n+2) {
			margin-right:0;
		}
		
	.container.sp_sidebar #main {
		width:420px; padding: 30px;
		margin-right:0;
		box-shadow: none !important;
	}
	.container.sp_sidebar #sidebar {
		width:420px; padding: 30px;
	}
	
		.container.sp_sidebar #sidebar .widget {
			width:420px;
		}


.sp-grid li .item img {margin: 0 0 15px; float: none; width: 100%;}
		
	.container.sp_sidebar .item-related {
		width:420px;
		margin-bottom:30px;
	}
.header-ad {display: none;}

/* Shrink Mobile Menu CTA */

.menu-mobile-cta {
    font-size: 14px;
    right: 94px;
    top: 13px;
}


/* Shrink Mobile Menu CTA */

/* Fix additional related posts row height */

.container.sp_sidebar .item-related{
	height: auto;
}

/* Fix additional related posts row height */
	
}

@media only screen and (max-width: 479px) {

/* Hide Mobile Menu CTA below 480px */

.menu-mobile-cta {
    font-size: 11px;
    left: 38px;
    top: 8px;
    width: 100px;
    right: auto;
}

/* Hide Mobile Menu CTA 480px */


/* Start Footer Menu */
.footer-menu-wrapper {
margin-left: 0;
}
.footer-menu-wrapper li{
    width:100%;
}
.footer-menu-wrapper li a{
    line-height: 30px;
    font-size: 14px;
}

/* End Footer Menu */


}

@media only screen and (max-width:630px) {

.mashbar-logo .mobile > img {
    height: 34px;
    width: 50px;
}


}

@media only screen and (max-width:568px) {
	#mashbar-header .mashicon-facebook span.text {display: none;}
	#mashbar-header .mashicon-twitter span.text {display: none;}
.mashbar-logo .mobile > img {
    height: 34px;
    width: 50px;
}


}

/********************************/
/*** START CSS Extracted from Responsive Mashare pLugin ***/
/********************************/


/* Smartphones (portrait) (iPhone 4 / 5) No text buttons  ----------- */
@media only screen
and (min-width: 100px) and (max-width: 460px) {
  #mashbar-header  [class^="mashicon-"] .text, #mashbar-header [class*=" mashicon-"] .text{
        text-indent: -9999px !important;
        line-height: 0px;
        display: block;
        } 
  #mashbar-header  [class^="mashicon-"] .text:after, #mashbar-header [class*=" mashicon-"] .text:after {
        content: "" !important;
        text-indent: 0;
        font-size:13px;
        display: block !important;
    }
  #mashbar-header  [class^="mashicon-"], #mashbar-header [class*=" mashicon-"] {
        width:25%;
        text-align: center !important;
    }
  #mashbar-header  [class^="mashicon-"] .icon:before, #mashbar-header [class*=" mashicon-"] .icon:before{
        float:none;
        margin-right: 0;
    }
  #mashbar-header  .mashsb-buttons a{
       margin-right: 3px;
       margin-bottom:3px;
       min-width: 0;
       width: 41px;
       /*height: 41px;*/
    }

    .onoffswitch, 
    .onoffswitch-inner:before, 
    .onoffswitch-inner:after 
    .onoffswitch2,
    .onoffswitch2-inner:before, 
    .onoffswitch2-inner:after  {
        margin-right: 0px;
        width: 41px;
        /*height: 41px;*/
        /*line-height: 41px;*/
    }

    /* Kyle Added code to shrink text logo */

    #mashbar-header .mashbar-logo {
    	padding-left: 5px;
    	padding-top:5px;
    	font-size:21px;
    }
    #mashbar-header .mashbar-logo a {
    	font-size:23px;
    }
}
/* Smartphones (landscape) (iPhone 4 > 5) 
* No text buttons ----------- 
*/
@media only screen
and (min-width: 461px) and (max-width: 640px) {
   #mashbar-header [class^="mashicon-"] .text, #mashbar-header [class*=" mashicon-"] .text{
        text-indent: -9999px !important;
        line-height: 0px;
        display: block;
        } 
   #mashbar-header [class^="mashicon-"] .text:after, #mashbar-header [class*=" mashicon-"] .text:after {
        content: "" !important;
        text-indent: 0;
        font-size:13px;
        display: block !important;
    }
    #mashbar-header [class^="mashicon-"], #mashbar-header [class*=" mashicon-"] {
        width:25%;
        text-align: center !important;
    }
    #mashbar-header [class^="mashicon-"] .icon:before, #mashbar-header [class*=" mashicon-"] .icon:before{
        float:none;
        margin-right: 0;
    }
    #mashbar-header .mashsb-buttons a{
       margin-right: 3px;
       margin-bottom:3px;
       min-width: 0;
       width: 41px;
       /*height: 41px;*/
    }

    .onoffswitch, 
    .onoffswitch-inner:before, 
    .onoffswitch-inner:after 
    .onoffswitch2,
    .onoffswitch2-inner:before, 
    .onoffswitch2-inner:after  {
        margin-right: 0px;
        width: 41px;
        /*height: 41px;*/
        /*line-height: 41px;*/
    }
}

/********************************/
/*** END CSS Extracted from Responsive Mashare pLugin ***/
/********************************/
